@import "./variables";
@import"./defauilt";
@import "./nav"

// h1{
//     margin-left: $spacing;
//     padding-top: $spacing;
//     border: $spacing solid $danger;
//     // width: $width;

// }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    background-color: $nav-bg;

    h2{
        font-size: $fontsize;
    }

    ul{
        display: flex;
        list-style: none;
        
        li a {
            margin-left: $spacing;
        }
   
    }

    .nav-link{
        color: red;
    }

}

